doctype html
head
    title Foodboard | Amazing local food
body
    div(id='react-root')!= react
    script(src="bower_components/react/react.js")
    script(src="bower_components/react/react-dom.js")

    script(src='https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js')

    script(src='/components.js', type='text/babel')
